.sidebar-desktop {
    background-color: #f6f7f8;
    border-radius: 0.25rem 0 0 0.25rem;
    width: 2.8rem;
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.45rem;
    color: #353535;
}

.sidebar-mobile {
    display: none;
}

.vote-icon {
    font-size: 1.5rem;
    color: #868686;
    cursor: pointer;
}

#sidebar span {
    font-size: 0.8rem;
    font-weight: 700;
    color: auto;
}

.bigNum {
    padding-left: 0.2rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.clear-score {
    opacity: 0;
}


/* Media queries */
@media only screen and (max-width: 1300px) {
    .sidebar-desktop {
        width: 2.4rem;
    }

    .vote-icon {
        font-size: 1.35rem;
    }

    #sidebar span {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar-desktop {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: #353535;
    }

    .vote-icon {
        font-size: 1.25rem;
    }

    .bigNum {
        padding-left: 0.1rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .upVote:hover {
        color: green;
    }
    
    .downVote:hover {
        color: red;
    }
}