#right-column {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 17%;
    min-width: 14rem;
    max-width: 18rem;
    min-height: 20rem;
    max-height: calc(95vh - 4.5rem);
    overflow-y: auto;
    position: fixed;
    top: 4.5rem;
    left: calc(75% + 1.5rem);
}

#right-column h3 {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    padding-bottom: 0.7rem;
    color: #535353;
}


/* Join section styles */
.join-section {
    font-size: 0.9rem;
    padding: 1.5rem;
    margin-top: 5rem;
    position: sticky;
    bottom: 0rem;
}

.join-section p {
    border-top: 1px solid #d8d8d8;
    line-height: 1.35;
    padding-right: 4rem;
    padding-top: 0.8rem;
    margin-bottom: 0.8rem;
}


/* Media queries */
@media only screen and (min-width: 100rem) {
    #right-column {
        left: calc(50% + 25rem + 1.5rem);
    }
}

@media only screen and (max-width: 1200px) {
    #right-column h3 {
        font-size: 0.95rem;
    }

    .join-section p {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 1050px) {
    #right-column {
        display: none;
    }
}