.subreddits {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 0 0.25rem 0.25rem 0;
    border-top: 1px solid #dae0e6;
    width: 18rem;
    height: calc(100vh - 3rem);
    position: fixed;
    top: 3rem;
    padding-bottom: 0.5rem;
    overflow-y: auto;
}

.subreddits h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.2rem;
    padding-bottom: 0.7rem;
}

.subreddit {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.subreddit:hover {
    background-color: #0000000f;
}

.chosenSubreddit,
.chosenSubreddit:hover {
    background-color: #8bbdd9;
}

.subreddit-avatar {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}

.subreddit p {
    font-size: 0.85rem;
}

.subreddits-error {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 5px 1px #ff5112;
    color: #026aa7;
    width: 60%;
    height: 15rem;
    margin: 3rem auto;
    padding: 4rem 2rem;
}

/* Loading subreddits styles */
.subreddits-skeleton-wrapper {
    width: 100%;
    padding: 0.5rem 1.2rem;
}

.subreddit-skeleton {
    width: 100%;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.subreddit-avatar-skeleton {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}

.subreddit-title-skeleton {
    width: 10rem;
    height: 1rem;
}