.subreddits {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 0 0.25rem 0.25rem 0;
    border-top: 1px solid #dae0e6;
    width: 18rem;
    height: calc(100vh - 3rem);
    position: fixed;
    top: 3rem;
    padding-bottom: 0.5rem;
    overflow-y: auto;
}

.subreddits h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.2rem;
    padding-bottom: 0.7rem;
}

.subreddit {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.subreddit:hover {
    background-color: #0000000f;
}

.chosenSubreddit,
.chosenSubreddit:hover {
    background-color: #8bbdd9;
}

.subreddit-avatar {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}

.subreddit p {
    font-size: 0.85rem;
}