#feed {
    width: 50%;
    max-width: 50rem;
    margin: 4.5rem auto;
}

@media only screen and (max-width: 1050px) {
    #feed {
        width: 60%;
        min-width: 35rem;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 850px) {
    #feed {
        width: 93%;
        min-width: 15rem;
        margin: 4.5rem auto;
    }
}

@media only screen and (max-width: 600px) {
    #feed {
        width: 100%;
        margin: 3.5rem auto;
    }
}

.no-result {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 5px 1px #ff5112;
    color: #026aa7;
    width: 70%;
    height: 8rem;
    margin-top: 10.2rem;
    position: relative;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Post loading skeleton styles */
.post-skeleton-wrapper {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
}

.post-skeletons {
    width: 100%;
    padding: 1rem;
}

.author-skeleton {
    width: 15%;
    height: 0.8rem;
}

.title-skeleton {
    width: 70%;
    height: 1.2rem;
}

.first {
    margin-top: 1rem;
}

.content-skeleton {
    width: 98%;
    height: 20rem;
    margin-top: 1.5rem;
}