#feed {
    max-width: 50rem;
    margin: 4.5rem auto;
}

.no-result {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 5px 1px #ff7112;
    color: #026aa7;
    width: 70%;
    height: 8rem;
    margin-top: 10.2rem;
    position: relative;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}