.feed {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.feed:hover {
    background-color: #d8d8d8;
}

.chosenFeed {
    background-color: #0000000f;
}

.feed-avatar {
    width: 1.3rem;
    height: 1.3rem;
}

#feeds p {
    font-size: 0.85rem;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
    .feed-avatar {
        width: 1.2rem;
        height: 1.2rem;
    }

    #feeds p {
        font-size: 0.8rem;
    }
}