.main-container {
    display: flex;
    width: 100%;
    height: 3rem;
}

.main-container > div {
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.main-container > div:last-of-type {
    border-right: 0;
}

span {
    font-weight: 500;
    text-transform: capitalize;
    color: #535353;
}

.content-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.chosen-type {
    background-color: #ff611215;
    border-bottom: 1px solid #ff6112 !important;
}

.chosen-type span {
    color: #ff6112;
}