:root {
    --color-brand-blue: #026aa7;
    --color-brand-orange: #ff6112;
}

html,
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #1f1f1f;
}

body {
    background-color: #dae0e6;
}