.header {
    height: 3.2rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1rem;
    height: 90%;
}

.logo-container a {
    text-decoration: none;
    color: inherit;
}

.logo-container p {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0.3em;
}

.logo {
    width: 2.2rem;
    height: 2.2rem;
}

.logo img {
    width: auto;
    height: 100%;
    display: block;
}

.highlight {
    color: #026aa7;
}