#header {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    border-bottom: 1px solid #dae0e6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-leftside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 1rem;
}


/* Logo styles */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-container p {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0.3em;
}

.logo {
    width: 2.2rem;
    height: 2.2rem;
}

.logo img {
    width: auto;
    height: 100%;
    display: block;
}

.highlight {
    color: #026aa7;
}


/* Dropdown menu icon styles */
.menu-icon {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    cursor: pointer;
}

.menu-icon:hover {
    background-color: #0000000f;
}

@media only screen and (min-width: 851px) {
    #dropdown-menu {
        display: none;
    }
}


/* Header right-side button styles */
.header-rightside-container {
    position: absolute;
    left: 79.5%;
    display: none;
}

.feeds-container {
    display: flex;
    gap: 0.5rem;
}

.feed-icon {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;
    cursor: pointer;
}

.feed-icon:hover {
    background-color: #d8d8d8;
}

.chosen-feed-icon {
    background-color: #e8e8e8;
}

.header-cta-container {
    width: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* Media queries */
@media only screen and (max-width: 1200px) {
    .logo-container p {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 1050px) {
    .header-rightside-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

@media only screen and (max-width: 850px) {
    .header-leftside-container {
        left: 3.5%;
    }
    
    .logo-container p,
    .feeds-container {
        display: none;
    }

    .header-cta-container {
        width: 5.5rem;
    }
    
    .header-rightside-container {
        left: calc(96.5% - 5.5rem);
    }
}