.post {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
}


/* Content styles */

.content-container {
    width: 94%;
    padding: 0.6rem 0 0.2rem 0;
    position: relative;
}

/* Content header */
.content-header {
    padding: 0 0.6rem;
}

.content-header span {
    font-size: 0.73rem;
    color: #535353;
}

.content-header h2 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #353535;
    margin: 0.5em 0;
}

/* Content footer */
.content-footer {
    margin-top: 0.2rem;
    padding: 0 0.5rem 0 0.3rem;
}

.footer-icons-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    padding: 0.3rem;
    cursor: pointer;
}

.comments-icon:hover {
    background-color: #eee;
}

.footer-icon {
    font-size: 1.25rem;
    color: #868686;
}

.footer-icon-container span {
    font-size: 0.75rem;
    font-weight: 700;
    word-spacing: -0.07rem;
    color: #868686;
}


/* Comments */

.comments-skeleton-wrapper {
    margin-top: 0.5rem;
    padding: 0 0.6rem;
}

.react-loading-skeleton {
    margin-bottom: 0.5rem;
}

.comments {
    margin-top: 0.8rem;
}

.comments-error {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2rem 8rem;
    padding: 1rem;
    border: 1px solid #f6f7f8;
    border-radius: 5%;
    background-color: #f6f7f8;
}

.see-more-button {
    font-family: inherit;
    background-color: #fff;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    left: 0.8rem;
    text-decoration: underline;
    color: #026aa7;
}

.comments .see-more-button {
    margin-left: 1.8rem;
    margin-bottom: 0.5rem;
}