.post {
    background-color: #ffffff;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
}


/* Content styles */

.content-container {
    width: 94%;
    padding: 0.6rem 0 0.5rem 0;
    position: relative;
}

/* Content header */
.content-header {
    padding: 0 0.6rem;
}

.content-header span {
    font-size: 0.73rem;
    color: #535353;
}

.content-header h2 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #353535;
    margin: 0.5em 0;
}

/* Content footer */
.content-footer {
    margin-top: 0.6rem;
    padding: 0rem 0.8rem 0 0.6rem;
    display: flex;
    justify-content: space-between;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    cursor: pointer;
}

.footer-icon {
    font-size: 1.25rem;
    color: #868686;
}

.footer-icon-container span {
    font-size: 0.75rem;
    font-weight: 700;
    word-spacing: -0.07rem;
    color: #868686;
}