:root {
    --border-radius-input: 1rem;
}

#post-creator {
    width: 50%;
    max-width: 50rem;
    margin: 4.5rem auto;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1050px) {
    #post-creator {
        width: 60%;
        min-width: 35rem;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 850px) {
    #post-creator {
        width: 93%;
        min-width: 15rem;
        margin: 4.5rem auto;
        margin-bottom: 2rem;
    }
}


#post-creator h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #353535;
}

.divider {
    height: 0.625px;
    margin: 1.25rem 0;
    background-color: #ffffff;
}

.post-container {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
}


/* Post Button styles */
.button-wrapper {
    width: 95%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: end;
}

.post-container button {
    font-family: 'Lato', sans-serif;
    font-size: 0.9375rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5px;
    border: 0;
    border-radius: 2rem;
    background-color: #ff6112;
    color: #fff;
    cursor: pointer;
    width: 6rem;
    padding: 0.7rem 0;
    transition: background-color 0.2s;
}

.post-container button:hover {
    background-color: #ff7112;
    color: #fff;
}

.post-container button:active {
    font-size: 0.8875rem;
    width: 5.5rem;
    padding: 0.6rem 0;
    margin: 0.125rem 0.25rem;
}


@media only screen and (max-width: 600px) {
    #post-creator {
        width: 98%;
        margin: 4rem auto;
        margin-bottom: 1rem;
    }

    #post-creator h2, .divider {
        display: none;
    }

    .button-wrapper {
        margin: 0 auto;
    }

    .post-container button {
        font-size: 0.875rem;
        width: 5rem;
        padding: 0.7rem 0;
    }

    .post-container button:active {
        font-size: 0.8125rem;
        width: 4.5rem;
        padding: 0.6rem 0;
        margin: 0.13125rem 0.25rem;
        background-color: #ff7112;
    }
}

@media only screen and (max-width: 450px) {
    .post-container button {
        font-size: 0.8125rem;
        width: 4.5rem;
    }

    .post-container button:active {
        font-size: 0.75rem;
        width: 4rem;
        margin: 0.13125rem 0.25rem;
    }
}